body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-size: 100%;
}

.viewport {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  overflow-x: hidden;
}

.page {
  height: 100vh;
  min-width: 100vw;
  transform: translateX(-100vw);
  position: relative;
  box-sizing: border-box;
  padding: 3em 0;
  overflow-x: hidden;
}



/* the 'about' page */
.about-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-box {
  height: 100%;
  font: 1em "Karla", sans-serif;
  box-sizing: border-box;
  padding: 2em;
  overflow-y: scroll;
}

.about-box > p > strong {
  margin-left: .25em;
}

.me-photo-box {
    margin-top: 1em;
    border: 4px solid #151515;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 14em;
    display: inline-block;
}

.me-photo-box::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 5px solid #fafafa;
    background: #fafafa;
    -webkit-clip-path: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);
    clip-path: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);
    z-index: 2;
}

.me-photo {
    position: relative;
    height: 12em;
    margin-bottom: 0;
    z-index: 10;
    border: 1em solid #e4e4e4;
}



/* the center 'home' page */
.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10em 0;
}



/* the 'work' page */
.work-box {
  width: 80vw;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3em 0;
  position: relative;
  perspective: 1000px;
}

.skewer {
  position: absolute;
  width: 84vw;
  height: 4px;
  top: 50%;
  left: -2vw;
  transform: translateY(-50%);
  background: black;
}

.back-btn, .forward-btn {
  position: absolute;
  height: 24px;
  width: 24px;
  top: -10px;
  background: black;
}

.back-btn {
  left: -24px;
  -webkit-clip-path: polygon(87% 0, 100% 0%, 100% 100%, 87% 100%);
  clip-path: polygon(87% 0, 100% 0%, 100% 100%, 87% 100%);
}

.forward-btn {
  right: -24px;
  -webkit-clip-path: polygon(100% 50%, 75% 50%, 13% 20%, 13% 80%, 75% 50%, 100% 50%, 0 100%, 0 0);
  clip-path: polygon(100% 50%, 75% 50%, 13% 20%, 13% 80%, 75% 50%, 100% 50%, 0 100%, 0 0);
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% 50%;
  height: 100%;
}

.work-item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  background: mistyrose;
  display: flex;
  justify-content: center;
}

.work-item-front {
  transform: rotateX(0deg);
  z-index: 2;
  overflow: hidden;
}

.work-item-back {
  transform: rotateX(180deg);
}

.work-gif {
    height: 100%;
}



header, footer {
  background: #e4e4e4;
  height: 3em;
  width: 100vw;
  position: fixed;
  line-height: 3em;
  font-family: "Karla", sans-serif;
}

header {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-name {
  margin: 0 5vw;
}

.header-btn {
  color: #3f3f3f;
  font-weight: bold;
}
.header-btn:hover {
  color: #151515;
  cursor: pointer;
}

.arrow {
  color: #FC4444;
}

.disabled {
  pointer-events: none;
  color: #151515;
  text-transform: uppercase;
  font-size: 1.5em;
}

footer {
  bottom: 0;
  text-align: center;
}

.footer-btn {
  background: #3f3f3f;
  color: #fafafa;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
  margin-right: .25em;
}

.footer-btn:hover {
  background: #151515;
  cursor: pointer;
}

.footer-email {
  text-decoration: none;
  color: #3f3f3f;
  font-weight: bold;
}

.footer-email:hover {
  color: #151515;
}



/* media queries */
@media screen and (max-width: 500px) {
  .footer-text {
    display: none;
  }
}



/* animations */
@keyframes hometoabout {
  to {
    transform: translateX(0);
  }
}
@keyframes hometowork {
  to {
    transform: translateX(-200vw);
  }
}
@keyframes abouttohome {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
@keyframes worktohome {
  from {
    transform: translateX(-200vw);
  }
  to {
    transform: translateX(-100vw);
  }
}
@keyframes worktoabout {
  from {
    transform: translateX(-200vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes abouttowork {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200vw);
  }
}
