body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-size: 100%;
}

.viewport {
  position: relative;
  display: flex;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.page {
  position: relative;
  transform: translateX(-100vw);
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100vh;
  min-width: 100vw;
  padding: 3em 0;
}



/* the 'about' page */
.about-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-box {
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 2em;
  height: 100%;
  font: 1em "Karla", sans-serif;
}

.about-box > p > strong {
  margin-left: .25em;
}

.me-photo-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    height: 14em;
    border: 4px solid #151515;
    margin-top: 1em;
}

.me-photo-box::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 5px solid #fafafa;
    background: #fafafa;
    -webkit-clip-path: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);
    clip-path: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);
}

.me-photo {
    position: relative;
    z-index: 10;
    height: 12em;
    border: 1em solid #e4e4e4;
    margin-bottom: 0;
}



/* the center 'home' page */
.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10em 0;
}



/* the 'work' page */
.work-box {
  position: relative;
  box-sizing: border-box;
  width: 80vw;
  height: 100%;
  padding: 3em 0;
  margin: 0 auto;
  perspective: 1000px;
}

.skewer {
  position: absolute;
  top: 50%;
  left: -2vw;
  transform: translateY(-50%);
  width: 84vw;
  height: 4px;
  background: #151515;
}

.work-arrow {
  position: absolute;
  top: -10px;
  width: 24px;
  height: 24px;
  background: #151515;
}

.work-arrow:hover {
  cursor: pointer;
}

.back-arrow { 
  left: -24px; 
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.forward-arrow { 
  right: -24px; 
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.work-arrow::after {
  content: '';
  position: absolute;
  top: 6px;
  width: 12px;
  height: 12px;
  background: #fafafa;
}

.back-arrow::after {
  right: 4px;
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.forward-arrow::after {
  left: 4px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.arrow-blocker {
  position: absolute;
  z-index: 10;
  top: -10px;
  width: 20px;
  height: 24px;
  background: #fafafa;
}

.flipper {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  transition: 1s;
}

.work-item {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #151515;
  backface-visibility: hidden;
}

.work-item-front {
  z-index: 2;
  overflow: hidden;
  transform: rotateX(0deg);
}

.work-item-back {
  transform: rotateX(180deg);
}

.work-pic {
  height: 100%;
}



header, footer {
  position: fixed;
  width: 100vw;
  height: 3em;
  background: #e4e4e4;
  font-family: "Karla", sans-serif;
  line-height: 3em;
}

header {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-name {
  margin: 0 5vw;
}

.header-btn {
  color: #3f3f3f;
  font-weight: bold;
}
.header-btn:hover {
  color: #151515;
  cursor: pointer;
}

.arrow {
  color: #FC4444;
}

.disabled {
  color: #151515;
  text-transform: uppercase;
  font-size: 1.5em;
  pointer-events: none;
}

footer {
  bottom: 0;
  text-align: center;
}

.footer-btn {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: .25em;
  background: #3f3f3f;
  color: #fafafa;
  line-height: 2em;
}

.footer-btn:hover {
  background: #151515;
  cursor: pointer;
}

.footer-email {
  color: #3f3f3f;
  font-weight: bold;
  text-decoration: none;
}

.footer-email:hover {
  color: #151515;
}



/* media queries */
@media screen and (max-width: 500px) {
  .footer-text {
    display: none;
  }
}



/* animations */
@keyframes hometoabout {
  to {
    transform: translateX(0);
  }
}
@keyframes hometowork {
  to {
    transform: translateX(-200vw);
  }
}
@keyframes abouttohome {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
@keyframes worktohome {
  from {
    transform: translateX(-200vw);
  }
  to {
    transform: translateX(-100vw);
  }
}
@keyframes worktoabout {
  from {
    transform: translateX(-200vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes abouttowork {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200vw);
  }
}
